.button {
  @apply w-44 h-14 ml-3 p-3 uppercase cursor-pointer bg-black filter text-white font-light flex items-center justify-center transition duration-[250ms];
}

button:hover {
  color: var(--portfolio-color, white);
}

img {
  transition: transform 250ms ease;
}

.detailsBtn:hover img {
  transform: rotate(90deg);
}
