/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: hsl(221, 63%, 43%);
}

body {
  position: relative;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.55;
}

h3 {
  text-align: right;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 5.5rem;
  font-weight: bold;
}

h4 {
  @apply text-4xl font-bold;
}
.btn {
  width: 1.5rem;
  padding: 2rem 0;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  background: black;
  transition: background 300ms;
}

.btn:hover {
  filter: brightness(1);
}

@layer components {
  .zoom-item {
    @apply relative overflow-hidden shadow-xl w-16 h-16 rounded-full;
  }
  .zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .zoom-item:hover .zoom-image {
    @apply scale-125;
  }
}
