.about {
  &-text {
    width: 95%;
  }
  h4 {
    margin: 1.5rem 0;
  }
}

.skills {
  background: var(--lightGrey);
  border: 0;
  &-content {
    padding: 1.5rem;
    ul {
      @include flex($direction: "row");
      flex: 1 1 100%;
      li {
        text-align: center;
        margin: 1rem 0rem;
        flex: 1 1 23%;
      }
      img {
        max-width: 5vmin;
        min-width: 50x;
      }
      p.name {
        @include font(var(--primaryFont), 1.4rem, 300, var(--black));
      }
    }
  }
}

.aboutGrid {
  display: grid;
  grid-template-columns: 115px 1fr 1fr;
  grid-template-areas:
    "title aboutme skills"
    "title aboutme skills";
}

.about-content {
  grid-area: aboutme;
  &-title {
    grid-area: title;
  }
}

.skills {
  grid-area: skills;
}

@media (max-width: 800px) {
  .skills {
    border-left: 0;
  }
  .aboutGrid {
    grid-template-columns: 0.1fr 1fr;
    grid-template-areas:
      "title aboutme"
      ". skills";
  }
}
