@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---secondary-color: #1a1919;
  ---primary-color: #ece7e1;
}

@media (prefers-color-scheme: light) {
  :root {
    --secondary-color: var(---secondary-color);
    --primary-color: var(---primary-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-color: var(---primary-color);
    --primary-color: var(---secondary-color);
  }
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.wrapper {
  max-width: 90%;
  padding-left: 10%;
  padding-right: 5%;
}

#home-work--grid {
  --gutter-size: 5%;
  --nav-bar-size: 10%;
  display: grid;
  /* height: 100%;
  width: 100%; */
  grid-template-columns: [nav-bar] var(--nav-bar-size) [gutter-start] var(--gutter-size) [content] 1fr [gutter-end] var(--gutter-size) [end] 64px;
  /* @media screen and (max-width: 968px) {
    --nav-bar-size: 10%; */
  /* } */
}

#home-work--grid > :not(#nav--bar) {
  grid-column: content;
}

#nav--bar {
  grid-column: "nav-bar";
}
