/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "AboutMe.css";
@import "Button.css";
@import "Header.css";
@import "Nav.css";
@import "Portfolio.css";
@import "Section.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --portfolio-color-1: #e40015;
  --portfolio-color-2: #01889f;
  --portfolio-color-3: #00699d;
}

body {
  position: relative;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.55;
}

h4 {
  font-size: 2.45rem;
  font-weight: bold;
}

.btn {
  width: 1.5rem;
  padding: 2rem 0;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  background: black;
  transition: background 300ms;
}

.btn:hover {
  filter: brightness(1);
}

.do-the-flex-thing {
  @apply flex flex-col flex-wrap;
}

.underline {
  background-image: linear-gradient(-45deg, hsla(247, 80%, 40%, 75%), hsla(210, 80%, 40%, 75%));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 95%;
  transition: background-size 0.25s ease-in-out;
  text-decoration: none;
}
.underline:hover {
  background-size: 100% 95%;
  color: white;
}
