<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "meta" . }}{{ partial "meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>
{{/*  
        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}  */}}
        
        {{ block "styles" . }}{{ partial "styles.html" . }}{{ end }}

    </head>
    <body class="font-sans font-base font-normal">
        {{ block "avatar" . }}{{ partial "avatar.html" . }}{{ end }}
        <main class="w-screen h-screen max-w-full max-h-full" role="main">
            <div class="flex">
            <div class="w-1/2 bg-red-500 h-screen"></div>
<div class="w-1/2  h-screen"></div>
</div>

            {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
            {{ block "projectList" . }}{{ partial "projectList.html" . }}{{ end }}
            {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
        </main>
    </body>
</html>