{{ $s := resources.Get "styles/style.css" | postCSS (dict "config" "postcss.config.js")}} {{ if
.Site.IsServer }}
<link rel="stylesheet" href="{{ $s.Permalink }}" />
{{ else }} {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{ $s.Permalink }}" integrity="{{ $styles.Data.Integrity }}" />
{{ end }}
